.landingpage {
    display: grid;
    gap: 1em 1em;
    justify-items: center;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box.project {
    grid-column: span 3;
}

.page-capture{
    max-width: 85%;
}