@import 'variables';

.technology .technology-sidebar li {
    padding:0.1em 0;

    a {
        text-decoration: none;
        padding: 0 0.5em;
    }

    a:hover{
        background-color: $background-alternative-color;
        transition: background-color 1.5s;
    }
}

.technology{
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;

    .technology-sidebar{
        flex-grow: 2;
        flex-basis: 0;
    }

    .technology-content{
        flex-grow: 8;
        flex-basis: 0;
        line-height: 1.4;
    }
}

// responsiv
@media screen and (max-width:740px) {
    .technology{
        display:block;

        .technology-sidebar{
            display: none;
        }
    }
}