$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;
$header-footer-background-color: #333;
$logo-width: 110px;
$line-hight: 1.2;
$font-size: 1.25em;
$baseline: $line-hight * $font-size;